{% extends 'base.html' %}
{% load static %}

{% block title %}
    登录
{% endblock %}

{%block head %}

{% endblock %}

{% block menu %}
{% endblock %}

{% block form %}
    <form action="/login/" method="post">{% csrf_token %}
        {{form.as_p}}
        <p class="tip">
            {{ err }}
        </p>
        <p>
            <button type="submit" id="sbm">登录</button>
            <a href="/register/" class="btn">注册</a>
        </p>
    </form>
    <script>
        $(function () {
            $('#sbm').submit(function () {
                console.log($('#id_name').val())
            })
        })
    </script>
{% endblock %}
