{% extends 'base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{%block head %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block menu %}
{% endblock %}

{% block form %}
    <form action="{% url 'login' %}" method="post" id="submit">{% csrf_token %}
        {{form.as_p}}
        <p class="tip">
            {{ err }}
        </p>
        <p>
            <button type="submit" id="sbm">登录</button>
            <a href="{% url 'register' %}" class="btn">注册</a>
        </p>
    </form>
{% endblock %}
