{% extends 'base.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}
{%block head %}
    <script src="{% static 'js/register.js' %}"></script>
{% endblock %}

{% block menu %}
{% endblock %}

{% block form %}
    <form action="{% url 'register' %}" method="post" id="submit">
        {% csrf_token %}
        {{form.as_p}}
        <p class="tip">
            {{ err }}
        </p>
        <p>
            <button type="submit" id="sbm">注册</button>
            <a href="{% url 'login' %}" class="btn">登录</a>
        </p>
    </form>
{% endblock %}